/***** classes referentes a cor *******/
.planodefundo{
      background-image:url(../img/fundopag.png);
      background-position: center;
      background-attachment: fixed;
      background-size: 100%;
}
.COLORE{
    background-color: rgb(248,251,255);
}

.COLORE1{
    background-color: rgb(181, 217, 254);
}
.COLORE1:hover{
    background-color: rgb(131, 186, 243);
}

.COLORETEXTO{
    color: gray;
}

.topoformatacao{
    background-color: whitesmoke;
    font-size: 15px;
    padding-left: 35px;
    text-align: left;
    height: auto;
    color: white;
}

.bordas {
    border: 2px solid rgb(248,251,255);
    border-radius: 0px;
}

.bordaspraconteudo{
    border-top: 1px solid rgb(244,248,259);
    padding-top: 25px;
    margin-bottom: 30px;
/*usado na index*/
}

/********** bordas cor fixa*******/
.bordasb {
    border: 1px solid lightgray;
    border-radius: 6px !important;
}

.bordert{
    border-top: 3px solid rgba(181, 217, 254, 0.6);
    padding-top: 25px;
    margin-bottom: 30px;
}

.opacidade{
    opacity: 0.7;
}
.opacidade2{
  opacity: 0.8;
}
/***** links decoration *******/

a{
  text-decoration: none;
}
.linkstyle{
    color: gray;
}
.linkstyle:hover{
  text-decoration: none;
  color: rgb(181, 217, 254);
}
.linkstyle1{
    color: lightseagreen;
}
.linkstyle1:hover{
  color: lightseagreen;
  font-size: 18px;
}
.linkstyle2{
    color: green;
}
.linkstyle2:hover{
  color: green;
  font-size: 18px;
}
.linkstyle3{
    color: red;
}
.linkstyle3:hover{
  color: red;
  font-size: 18px;
}

/******* importante ********/
body{
    font-family: "georgia", "trebuchet";
    margin-bottom: 80px;
}

    .rodape {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

html {
      position: relative;
      min-height: 100%;
    }

/******* tamanho de fonte ******/

.fonteonze{
    font-size: 11px;
}

.fontedoze{
     font-size: 12px;
}

.fontequinze{
     font-size: 15px;
}

.fontedezesseis{
    font-size: 90%;
}

.fontedezoito{
    font-size: 18px;
}

.fontevinte{
    font-size: 20px;
}

.fontevinteecinco{
    font-size: 25px;
}
/******* posição *********/

.paddingtop{
    padding-top: 10px;
}

.centraliza{
    margin:auto;
}

.paddingtexto{
    padding-top: 10px;
}

.largurainput{
    width: 200px;
}

.noradius{
    border-radius: 0px;
}

.displayblock{
    display: block;
}

.table td, .table th {
    border: none;
}

.total {
    border-top: 1px solid #dee2e !important;
}

.estilomain{
  font-family: Garamond !important;
  font-size: 30px;
  color: white;
}

.fundoareadm{
  background-color: rgba(255,255,255, 0.8) !important;
}

/*********** css cart dropdown*****************/
.COLOREICON{
    color: red;
    background-color: rgb(248,251,255);
}

.opacidadecart{
    opacity: 0.9;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/********** comportamento media *************/
@media only screen and (max-width: 575px) {
  body {
    margin-bottom: 250px;
  }
}

/******* css da página faleconosco *******/

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

/******** css página sobre ****************/
.diva {
  display: inline-block;
  text-align: center;
}

.bigger {
  margin: 0;
  font-size: 45px;
  font-weight: 800;
  padding: 20px;
  text-transform: uppercase;
  color: #202020;
  display: inline-block;
  position: relative;
}

.text {
  max-width: 600px;
  width: 100%;
  line-height: 24px;
  text-align: left;
  color: #404040;
  padding: 20px;
}
.text.txt-center {
  text-align: center;
}
.text a {
  color: #0fe4d2;
}

.has-animation {
  position: relative;
}
.has-animation p, .has-animation img {
  opacity: 0;
}
.has-animation.animate-in p, .has-animation.animate-in img {
  animation: textHidden 0.1s 1.1s forwards;
}
.has-animation.animate-in:before, .has-animation.animate-in:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}
.has-animation.animate-in:before {
  background-color: lightblue;
}
.has-animation.animate-in:after {
  background-color: lightskyblue;
  animation-delay: .5s;
}
.has-animation.animation-ltr.animate-in:before {
  animation: revealLTR 1.8s ease;
}
.has-animation.animation-ltr.animate-in:after {
  animation: revealLTR 1s .6s ease;
}
.has-animation.animation-rtl.animate-in:before {
  animation: revealRTL 1.8s ease;
}
.has-animation.animation-rtl.animate-in:after {
  animation: revealRTL 1s .6s ease;
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
